sources/HeuristicLab.Hive.Client.Communication/3.2/Service References/ServerService/HeuristicLab.PluginInfrastructure.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HeuristicLab.PluginInfrastructure" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HeuristicLab.PluginInfrastructure" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ArrayOfPluginInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PluginInfo" nillable="true" type="tns:PluginInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPluginInfo" nillable="true" type="tns:ArrayOfPluginInfo" />
  <xs:complexType name="PluginInfo">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="assemblies" nillable="true" type="q1:ArrayOfstring" />
      <xs:element name="buildDate" type="xs:dateTime" />
      <xs:element name="dependencies" nillable="true" type="tns:ArrayOfPluginInfo" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="files" nillable="true" type="q2:ArrayOfstring" />
      <xs:element name="message" nillable="true" type="xs:string" />
      <xs:element name="name" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" name="version" nillable="true" type="q3:Version" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PluginInfo" nillable="true" type="tns:PluginInfo" />
  <xs:complexType name="ArrayOfCachedPlugin">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CachedPlugin" nillable="true" type="tns:CachedPlugin" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCachedPlugin" nillable="true" type="tns:ArrayOfCachedPlugin" />
  <xs:complexType name="CachedPlugin">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:PluginInfo">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="PluginFiles" nillable="true" type="q4:ArrayOfbase64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CachedPlugin" nillable="true" type="tns:CachedPlugin" />
</xs:schema>