sources/HeuristicLab.Hive.Client.Communication/3.2/Service References/ServerService/HeuristicLab.Hive.Contracts.BusinessObjects1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HeuristicLab.Hive.Contracts.BusinessObjects" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HeuristicLab.Hive.Contracts.BusinessObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HeuristicLab.DataAccess" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ClientInfo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Resource">
        <xs:sequence>
          <xs:element minOccurs="0" name="Config" nillable="true" type="tns:ClientConfig" />
          <xs:element minOccurs="0" name="CpuSpeedPerCore" type="xs:int" />
          <xs:element minOccurs="0" name="FreeMemory" type="xs:int" />
          <xs:element minOccurs="0" name="Login" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Memory" type="xs:int" />
          <xs:element minOccurs="0" name="NrOfCores" type="xs:int" />
          <xs:element minOccurs="0" name="NrOfFreeCores" type="xs:int" />
          <xs:element minOccurs="0" name="State" type="tns:State" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientInfo" nillable="true" type="tns:ClientInfo" />
  <xs:complexType name="Resource">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HeuristicLab.DataAccess" base="q1:PersistableObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Resource" nillable="true" type="tns:Resource" />
  <xs:complexType name="ClientConfig">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/HeuristicLab.DataAccess" base="q2:PersistableObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="HeartBeatIntervall" type="xs:int" />
          <xs:element minOccurs="0" name="UpDownTimeCalendar" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientConfig" nillable="true" type="tns:ClientConfig" />
  <xs:simpleType name="State">
    <xs:restriction base="xs:string">
      <xs:enumeration value="nullState" />
      <xs:enumeration value="idle" />
      <xs:enumeration value="calculating" />
      <xs:enumeration value="offline" />
      <xs:enumeration value="finished" />
      <xs:enumeration value="abort" />
      <xs:enumeration value="requestSnapshot" />
      <xs:enumeration value="requestSnapshotSent" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="State" nillable="true" type="tns:State" />
  <xs:complexType name="HeartBeatData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" type="ser:guid" />
      <xs:element minOccurs="0" name="FreeCores" type="xs:int" />
      <xs:element minOccurs="0" name="FreeMemory" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="JobProgress" nillable="true" type="q3:ArrayOfKeyValueOfguiddouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeartBeatData" nillable="true" type="tns:HeartBeatData" />
  <xs:complexType name="Job">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/HeuristicLab.DataAccess" base="q4:PersistableObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Client" nillable="true" type="tns:ClientInfo" />
          <xs:element minOccurs="0" name="CoresNeeded" type="xs:int" />
          <xs:element minOccurs="0" name="DateCalculated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateCreated" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MemoryNeeded" type="xs:int" />
          <xs:element minOccurs="0" name="ParentJob" nillable="true" type="tns:Job" />
          <xs:element minOccurs="0" name="Percentage" type="xs:double" />
          <xs:element minOccurs="0" name="PluginsNeeded" nillable="true" type="tns:ArrayOfHivePluginInfo" />
          <xs:element minOccurs="0" name="Priority" type="xs:int" />
          <xs:element minOccurs="0" name="SerializedJob" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="State" type="tns:State" />
          <xs:element minOccurs="0" name="UserId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Job" nillable="true" type="tns:Job" />
  <xs:complexType name="ArrayOfHivePluginInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HivePluginInfo" nillable="true" type="tns:HivePluginInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHivePluginInfo" nillable="true" type="tns:ArrayOfHivePluginInfo" />
  <xs:complexType name="HivePluginInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/HeuristicLab.DataAccess" base="q5:PersistableObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BuildDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HivePluginInfo" nillable="true" type="tns:HivePluginInfo" />
</xs:schema>