sources/HeuristicLab.Hive.Client.Communication/3.2/Service References/ServerService/HeuristicLab.Hive.Contracts.BusinessObjects1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HeuristicLab.Hive.Contracts.BusinessObjects" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HeuristicLab.Hive.Contracts.BusinessObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HeuristicLab.DataAccess" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ClientDto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ResourceDto">
        <xs:sequence>
          <xs:element minOccurs="0" name="CalendarSyncStatus" type="tns:CalendarState" />
          <xs:element minOccurs="0" name="Config" nillable="true" type="tns:ClientConfigDto" />
          <xs:element minOccurs="0" name="CpuSpeedPerCore" type="xs:int" />
          <xs:element minOccurs="0" name="FreeMemory" type="xs:int" />
          <xs:element minOccurs="0" name="Login" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Memory" type="xs:int" />
          <xs:element minOccurs="0" name="NrOfCores" type="xs:int" />
          <xs:element minOccurs="0" name="NrOfFreeCores" type="xs:int" />
          <xs:element minOccurs="0" name="State" type="tns:State" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientDto" nillable="true" type="tns:ClientDto" />
  <xs:complexType name="ResourceDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/HeuristicLab.DataAccess" base="q1:PersistableObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResourceDto" nillable="true" type="tns:ResourceDto" />
  <xs:simpleType name="CalendarState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Fetch" />
      <xs:enumeration value="ForceFetch" />
      <xs:enumeration value="Fetching" />
      <xs:enumeration value="Fetched" />
      <xs:enumeration value="NotAllowedToFetch" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CalendarState" nillable="true" type="tns:CalendarState" />
  <xs:complexType name="ClientConfigDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/HeuristicLab.DataAccess" base="q2:PersistableObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="HeartBeatIntervall" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="UpDownTimeCalendar" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ClientConfigDto" nillable="true" type="tns:ClientConfigDto" />
  <xs:simpleType name="State">
    <xs:restriction base="xs:string">
      <xs:enumeration value="nullState" />
      <xs:enumeration value="idle" />
      <xs:enumeration value="calculating" />
      <xs:enumeration value="offline" />
      <xs:enumeration value="finished" />
      <xs:enumeration value="abort" />
      <xs:enumeration value="requestSnapshot" />
      <xs:enumeration value="requestSnapshotSent" />
      <xs:enumeration value="pending" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="State" nillable="true" type="tns:State" />
  <xs:complexType name="HeartBeatData">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientId" type="ser:guid" />
      <xs:element minOccurs="0" name="FreeCores" type="xs:int" />
      <xs:element minOccurs="0" name="FreeMemory" type="xs:int" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="JobProgress" nillable="true" type="q3:ArrayOfKeyValueOfguiddouble" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeartBeatData" nillable="true" type="tns:HeartBeatData" />
  <xs:complexType name="JobDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/HeuristicLab.DataAccess" base="q4:PersistableObject">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AssignedResourceIds" nillable="true" type="q5:ArrayOfguid" />
          <xs:element minOccurs="0" name="Client" nillable="true" type="tns:ClientDto" />
          <xs:element minOccurs="0" name="CoresNeeded" type="xs:int" />
          <xs:element minOccurs="0" name="DateCalculated" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="MemoryNeeded" type="xs:int" />
          <xs:element minOccurs="0" name="ParentJob" nillable="true" type="tns:JobDto" />
          <xs:element minOccurs="0" name="Percentage" nillable="true" type="xs:double" />
          <xs:element minOccurs="0" name="PluginsNeeded" nillable="true" type="tns:ArrayOfHivePluginInfoDto" />
          <xs:element minOccurs="0" name="Priority" type="xs:int" />
          <xs:element minOccurs="0" name="Project" nillable="true" type="tns:ProjectDto" />
          <xs:element minOccurs="0" name="State" type="tns:State" />
          <xs:element minOccurs="0" name="UserId" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="JobDto" nillable="true" type="tns:JobDto" />
  <xs:complexType name="ArrayOfHivePluginInfoDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HivePluginInfoDto" nillable="true" type="tns:HivePluginInfoDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHivePluginInfoDto" nillable="true" type="tns:ArrayOfHivePluginInfoDto" />
  <xs:complexType name="HivePluginInfoDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/HeuristicLab.DataAccess" base="q6:PersistableObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="BuildDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HivePluginInfoDto" nillable="true" type="tns:HivePluginInfoDto" />
  <xs:complexType name="ProjectDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/HeuristicLab.DataAccess" base="q7:PersistableObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ProjectDto" nillable="true" type="tns:ProjectDto" />
  <xs:complexType name="ArrayOfAppointmentDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppointmentDto" nillable="true" type="tns:AppointmentDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppointmentDto" nillable="true" type="tns:ArrayOfAppointmentDto" />
  <xs:complexType name="AppointmentDto">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.datacontract.org/2004/07/HeuristicLab.DataAccess" base="q8:PersistableObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AllDayEvent" type="xs:boolean" />
          <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Recurring" type="xs:boolean" />
          <xs:element minOccurs="0" name="RecurringId" type="ser:guid" />
          <xs:element minOccurs="0" name="ResourceId" type="ser:guid" />
          <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AppointmentDto" nillable="true" type="tns:AppointmentDto" />
</xs:schema>