sources/HeuristicLab.PluginInfrastructure/Service References/UpdateLocationReference/UpdateLocation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59253/UpdateLocation.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HeuristicLab.Update.Service" />
  <xs:import schemaLocation="http://localhost:59253/UpdateLocation.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAvailablePluginsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailablePluginsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HeuristicLab.Update.Service" minOccurs="0" name="GetAvailablePluginsByNameResult" nillable="true" type="q1:ArrayOfPluginInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPluginFiles">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HeuristicLab.Update.Service" minOccurs="0" name="info" nillable="true" type="q2:PluginInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPluginFilesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPluginFilesResult" nillable="true" type="q3:ArrayOfbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>