sources/HeuristicLab.PluginInfrastructure/Service References/UpdateLocationReference/UpdateLocation1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HeuristicLab.Update.Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HeuristicLab.Update.Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59253/UpdateLocation.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ArrayOfPluginInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PluginInformation" nillable="true" type="tns:PluginInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPluginInformation" nillable="true" type="tns:ArrayOfPluginInformation" />
  <xs:complexType name="PluginInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="BuildDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Version" nillable="true" type="q1:Version" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PluginInformation" nillable="true" type="tns:PluginInformation" />
</xs:schema>