sources/HeuristicLab.PluginInfrastructure/Service References/PluginUpdateService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HeuristicLab.Services.Deployment.DataAccess" />
  <xs:element name="GetPlugin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HeuristicLab.Services.Deployment.DataAccess" minOccurs="0" name="description" nillable="true" type="q1:PluginDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPluginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPluginResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HeuristicLab.Services.Deployment.DataAccess" minOccurs="0" name="GetProductsResult" nillable="true" type="q2:ArrayOfProductDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlugins">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPluginsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HeuristicLab.Services.Deployment.DataAccess" minOccurs="0" name="GetPluginsResult" nillable="true" type="q3:ArrayOfPluginDescription" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>